<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= javascript_include_tag "jquery-1.9.1.js", "facebox.js" %>
  <%= stylesheet_link_tag "jquery-ui-1.10.1.custom.css", "facebox.css" %>
  <script>
    $(document).ready(function() {
      $.facebox('This will display after the page has finished loading');
    });
  </script>
</head>
<body>
</body>
</html>
