<hr>

<div class="alert alert-success">
  <h3>Exact match</h3>
</div>

<% if !@exact_match.empty? %>
  <ul>
    <li>
      <h4><%= link_to @exact_match[0], ontology_path(:term_name => @exact_match[0]), :rel => "facebox" %></h4>
    </li>
  </ul>
<% else %>
  <p class="lead text-error text-center">Nothing Found</p>
<% end %>

<hr>

<div class="alert alert-block">
  <h3>Other hits</h3>
</div>

<% if !@other_hits.empty? %>
  <%= render 'anchor_letter' %>

  <ul>
    <% @other_hits.each do |keyword| %>
      <li>
        <% if @anchors[keyword[0].upcase] == 0 %>
          <h4><%= link_to keyword, ontology_path(:term_name => keyword), :rel => "facebox", :name => keyword[0].upcase %></h4>
          <% @anchors[keyword[0].upcase] = 1 %>
        <% else %>
          <h4><%= link_to keyword, ontology_path(:term_name => keyword), :rel => "facebox" %></h4>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="lead text-error text-center">Nothing Found</p>
<% end %>

