<div class="center hero-unit">
  <h1>STOP</h1>
  <blockquote class="pull-right">Stastical Tracking of Ontologocial Phrases</blockquote>
</div>

<div class="center row">
  <div class="span6 offset3">
    <%= form_for(:search, url: "home") do |f| %>
      <%= f.text_field :keyword, class: "input-large search-query", :'data-autocomplete' => "static_pages/autocomplete_key_word_set_keyword"  %>
      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<%= render 'results' if !@query_result.empty?  %>

