<ul class="nav nav-list">
  <li class="nav-header"><%= @term_name %></li>
  <% @ontology_results.each do |ontology_name| %>
    <li>
      <%= link_to ontology_name["value"], details_path(:select_ontology => ontology_name["value"], :select_term => @term_name) %>
    </li>
  <% end %> 
</ul>

